@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Roboto:wght@500&family=Urbanist:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
    --primary-bg-color: #131217;
    --navbar-text-color: #22a8d5;
    --navbar-accent-color: #1580a3;
    --font-size: 20px;
}

* {
    font-size: var(--font-size);
    user-select: none;
    
}

html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg-color);
    height: 100%;
}



.scroll-downs {
    display: none
}

::-webkit-scrollbar {
   display: none;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    /* Add any additional styling you want here */
}

/* If needed, you can target the span inside the button */
.navbar-toggler-icon {
    color: rgb(255, 255, 255) !important;
}


/* Initial styles for the bars */
.navbar-toggler-bar {
    display: block;
    width: 25px;
    background-color: #ffffff; /* You can change the color as needed */
    margin: 5px 0;
    height: 3px;
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.1s ease; 
}

.navbar-toggler-bar:nth-child(2) {
    width: 20px !important;
    transform: translateX(0); /* Set initial position */
}

/* Initial styles for the bars when collapsed */
.collapse .navbar-toggler-bar {
    transform: rotate(0) translateX(0);
    opacity: 1;
}


.navbar-toggler.active .navbar-toggler-bar:nth-child(3) {
    transform: rotate(45deg) translateX(-10px);
}

.navbar-toggler.active .navbar-toggler-bar:nth-child(1) {
    transform: rotate(135deg) translateX(12px);
}

.navbar-toggler.active .navbar-toggler-bar:nth-child(2) {
    opacity: 0;
}



.erupt {
    position: absolute;
    height: 150px;
    left: 0px;
    margin-top: -52.5px;
    margin-left: -75px;
    color: #22a8d5;
}

.erupt2 {
    position: absolute;
    height: 200px;
    right: 0px;
    opacity: 0.5;
    margin-top: -200px;
    margin-left: -75px;
}

.erupt3 {
    position: absolute;
    height: 200px;
    left: 0px;
    margin-top: 0;
    margin-left: 0;
}






@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    background-color: var(--primary-bg-color);
    padding: 15px;
    padding-inline: 50px;
}


.navbar-brand {
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;
    background: var(--navbar-text-color) -webkit-gradient(linear, 100% 0, 0 0, from(var(--navbar-text-color)), color-stop(0.5, #ffffff), to(var(--navbar-text-color)));
    letter-spacing: 2px;
    background-position: -4rem top; /*50px*/
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 3.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-background-size: 4rem 100%; /*50px*/ 
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 12.5rem top; /*200px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}

nav li a {
    background-image: linear-gradient(to right, var(--navbar-text-color), var(--navbar-text-color) 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    
    padding: 5px 0;
    letter-spacing: 2px;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 50px !important;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }
  
nav li  a::before {
    content: '';
    background: var(--navbar-text-color);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
nav li  a:hover {
    background-position: 0;
  }
  
nav li  a:hover::before {
    width: 100%;
  }



.statistic {
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15vh;
}

.box h2 {
    font-weight: bold;
    font-size: 55px;
    color: #22a8d5;
}

.B {
    color: rgb(26, 96, 200) !important;
}

.C {
    color: #592eb5 !important;
}

.D {
    color: #7c1ebb !important;
}


.statistic-heading {
    text-align: center;
    margin-bottom: 40px;
}

/* Home page */

  .home {
    position: relative;
    display: flex;
    justify-content:space-evenly; 
    align-items: center; 
    height: 100vh;
    height: 100svh;
    text-align: center; 
    flex-direction: column;
    z-index: 999;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #back-to-top i {
    color: var(--primary-bg-color); 
    font-size: 40px; 
  }
  
  .cursor {
    z-index: 999;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}



@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}
  



.about h2 {
    z-index: 2;
    color: white;
    text-align: center;
    position: relative;
}

.about p {
    z-index: 2;
    border-radius: 15px;
    color: white;
    text-align: center;
    transform: translate(-50%);
    left: 50%;
    max-width: 800px;
    font-size: 20px;
    position: relative;
    letter-spacing: 2px;
    padding: 20px;
    margin: 0;
}

.about p:nth-of-type(1) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.about p:nth-of-type(2) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}





.services {
    height: fit-content;
    padding-bottom: 15vh;
}

.contact {
    background-color: var(--primary-bg-color);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}








h1 {
    color: white;
    max-width: 1000px;
    font-size: 75px;
    line-height: 90px;
    text-align: center;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif !important;
    text-transform: uppercase;
}

.highlight {
    color: var(--navbar-text-color);
    font-size: 75px;
    line-height: 90px;
}


.l-but {
    padding: 20px 50px;
    text-decoration: none !important;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    bottom: 10vh;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
}

.contact button {
    padding: 20px 50px;
    text-decoration: none !important;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    bottom: 10vh;
    border: none;
}

button:focus, button:active {
    outline: none !important;
}
  
  a span, button span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 1;
  }
  
  a .liquid, button .liquid {
    position: absolute;
    top: -90px;
    left: 0;
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, #22a8d5, #7c1ebb);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
  }
  
  a .liquid::after,
  a .liquid::before , button .liquid::after, button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }
  
  a .liquid::before, button .liquid::before {
    
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  a .liquid::after , button .liquid::after {
    
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
  }
  
  a:hover .liquid, button:hover .liquid{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  /* services */
  .services {
    background: var(--primary-bg-color);
    text-align: center;
}

.our-services {
    padding-top: 15vh;
}

h2 {
    color: white;
}

.service {
    padding: 30px;
    margin: 10px;
    width: 30%;
    height: 200px;
    z-index: 999 !important;
    border: 3px solid var(--navbar-text-color);
    transition: transform 0.2s;
    border: 3px solid var(--navbar-text-color);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .5);
    display: inline-block;
    font-size: 16px;
    position: relative;
    text-align: center;
    transition: transform 0.2s;
    border-radius: 8px;
}


  
  .service::before {
    content: '';
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22a8d5;
    opacity: 0.4;
    -webkit-filter: blur(3px);
    z-index: -1; /* Push the pseudo-element behind the text */
  }
  


.service i {
    font-size: 40px;
    background: linear-gradient(to right, #22a8d5, #7c1ebb);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    position: relative;
}

.service h3 {
    color: var(--primary-bg-color);
    text-transform: capitalize;
}

.snip1533 h3 {
    color: var(--primary-bg-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    font-family: 'Manrope', sans-serif;
    text-transform: capitalize;
  }

h3 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 300;
    font-family: 'Manrope', sans-serif;
    color: white;
}

p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Noto Sans';
    text-transform: none;
}

p .highlight {
    font-family: inherit;
    text-transform: none;
    font-weight: bolder !important;
    font: inherit;
    color: white;
}



  /* contact us */
  .container {
    width: 500px;
    color: white;
    border-radius: 40px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.container h3 {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.form-group {
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--primary-bg-color);
    border: 3px solid var(--navbar-text-color);
    text-transform: none;
    color: white;
    outline: none;
    border-radius: 8px;
}

textarea {
    min-height: 100px;
    resize: none;
    border: 3px solid var(--navbar-text-color);
    margin-bottom: 20%;
}



footer {
    position: relative;
    bottom: 0;
    font-family: 'Noto Sans', sans-serif;
    background: #131217;;
    text-align: center;
    color: var(--primary-bg-color);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 10px 0;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(255, 255, 255, 0.4)
}

.space {
    height: 50px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex; /* Change from inline to flex */
    justify-content: center;
    margin-top: 15px; /* Add some margin for better spacing */
}

footer li {
    margin: 0 15px; /* Add margin between list items */
}

footer a {
    background-image: linear-gradient(to right, white, white 50%, white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    text-decoration: none;
    color: var(--primary-bg-color);
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    margin-left: 10px; /* Adjusted for better spacing */
}

footer a::before {
    content: '';
    background: var(--primary-bg-color);
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3.5px;
    transition: all 0.2s ease-in-out;
}

footer a:hover {
    background-position: 0;
}

footer a:hover::before {
    width: 100%;
}

footer h4 {
    font-size: 35px;
    margin: 15px 0; /* Adjusted for better spacing */
}

footer p {
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0;
    letter-spacing: 1px !important;
    color: white;
}

.fas.fa-copyright {
    color: white;
}

footer ul,
footer h4,
footer p {
    margin: 15px 0; /* Adjusted for better spacing */
}

   
.about {
    height: fit-content;
    padding-block: 2em;
    background-color: #1580a3;
}




@media (max-width: 768px) {
    body {
        outline: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }

    .navbar-brand {
        font-size: 20px;
    }
     

    .navbar {
        padding-inline: 30px;
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1) !important; /* Adjust the shadow as needed */
    }

    :root {
        --blob-size: 500px !important;
    }

    .l-but {
        bottom: 30vh;
    }
    
    nav li a {
        margin: 0 !important;
        font-weight: bold;
      }

    
    nav ul:nth-child(1) {
        margin-top: 20px;
    }
      
    nav li  a::before {
        background: none;  
      }
      

      .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
      }
        

      body {
        padding-top: 72.75px; /* Adjust this value according to your navbar's height */
      }

   
    
    /* Home page */
    
    
    .about {
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .about h2 {
        color: var(--primary-bg-color);
        font-size: 45px;
    }
    
    .about p {
        left: -50%;
        transform: translateX(50%);
        border-radius: 15px;
        color: white;
        text-align: center;
        font-size: 16px;
        position: relative;
        letter-spacing: 2px;
        padding: 20px;
        margin-bottom: 0;
    }
    
    .about p:nth-of-type(1) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .about p:nth-of-type(2) {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .container {
        width: 350px;
    }

    textarea {
        margin-bottom: 35%;
    }
    
    
    
    
    .services {
        height: fit-content;
    }

    .services {
        height: fit-content;
        padding-bottom: 10vh;
    }

    .service {
        width: 350px;
    }
    
    .contact {
        height: fit-content;
    }
    
    
    h1 {
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        max-width: 326px;
        line-height: 50px; 
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20vh;
    }
    
    .highlight {
        color: var(--navbar-text-color);
        font-size: 40px;
        line-height: 50px;
        font-weight: bold;
    }
    
    footer {
        margin-top: 0vh;
    }
 

    footer  a::before {
        background: none;  
      }
    
    footer a {
        display: inline;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 1px;
        position: relative;
      }
      
      .box h2 {
        font-size: 40px;
    }
       
    
    footer a {
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }
    
    footer a:hover {
        text-decoration: none;
    }
    
    footer h4 {
        font-weight: bold;
        font-size: 20px;
        position: relative;
        left: 0;
    }
    
    footer p {
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1px !important;
    }
    
    .fas.fa-copyright {
        font-size: 20px;
    }

    .scroll-downs {
        display: block;
        position: absolute;
        top: 500px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 16;
        width :34px;
        height: 55px;
      }
      .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        z-index: 16;
        border: 3px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
      }
      .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        z-index: 8000;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
      }
      @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
      }

      .cursor {
        display: none;
      }

 

      .erupt {
        height: 115px;
        margin-top: -42.5px;
        margin-left: -62.5px;
      }

      .erupt2 {
       display: none;
      }


      .erupt3 {
        display: none;
      }

      #blob-2 {
       right: 200px !important;
      }

      #blob-3 {
        display: block !important;
        position: relative;
        top: 750px !important;
        left: 300px !important;
        z-index: -1;
    }

    #blob-4 {
        display: block !important;
        top: 400px !important;
        left: 400px !important;
    }
    
    #blob-5 {
        display: block !important;
        top: 800px !important;
        right: 200px !important;
    }
    
    #blob-6 {
        display: block !important;
        top: 1200px !important;
        left: 500px !important;
    }
    
}


.snip1533 {
    all: initial;
    border: 3px solid var(--navbar-text-color);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .5);
    display: inline-block;
    font-size: 16px;
    margin: 35px 10px 10px;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    transition: transform 0.2s;
    border-radius: 8px;
  }
  
  .snip1533::before {
    content: '';
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22a8d5;
    opacity: 0.4;
    -webkit-filter: blur(3px);
    z-index: -1; /* Push the pseudo-element behind the text */
  }
  


.testimonials {
  text-align: center;
  padding-bottom: 100px;
}


.stars {
    color: #bba91e;
    }

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}



.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: linear-gradient(to right, #22a8d5, #7c1ebb);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: var(--primary-bg-color);
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
  text-align: center;
}

.snip1533 h3 {
  color: var(--primary-bg-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  font-family: 'Manrope', sans-serif;
  text-transform: capitalize;
}



.snip1533 blockquote {
  margin: 0 0 20px;
  font-family: 'Manrope', sans-serif;
}




:root {
    --blob-size: 600px;
    --blob-speed: 8s;
    --blob-speed-scale: calc(0.75 * var(--blob-speed));
    --blob-speed-move: calc(1 * var(--blob-speed));
    --blob-speed-rotate: calc(2 * var(--blob-speed));
    --blob-opacity: 0.8;
    --blob-blur: 80px;
    --blob-color-1: #7c1ebb;
    --blob-color-2: #7c1ebb;
    --blob-color-3: #22a8d5;
  }
  
  .blobs {
    z-index: 8;
    position: relative;
    filter: blur(var(--blob-blur));
  
    * {
      backface-visibility: hidden;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      will-change: transform;
    }
  
    &:after {
      position: relative;
      display: block;
      width: 22rem;
      height: 38rem;
      background: hsla(0deg, 0%, 72%, 0.08);
      backdrop-filter: blur(8rem) saturate(1.6);
      border-radius: 1.5rem;
      z-index: 2;
    }
  }
  
  .blob {
    width: var(--blob-size);
    height: calc(0.25 * var(--blob-size));
    background-color: var(--blob-color-1);
    border-radius: 100%;
    opacity: var(--blob-opacity);
    mix-blend-mode: multiply;
    animation: blob ease-in-out var(--blob-speed-scale) infinite;
  
    .blobs > :nth-child(2) & {
      background-color: var(--blob-color-2);
      animation-delay: calc(-0.8 * var(--blob-speed-scale));
    }
  
    .blobs > :nth-child(3) & {
      background-color: var(--blob-color-3);
      animation-delay: calc(-0.2 * var(--blob-speed-scale));
    }
  }
  
  @keyframes blob {
    0%, 100% {
      transform: scale(0.8, 2);
    }
    50% {
      transform: scale(1.4, 0.8);
    }
  }
  
  .blob-rotate {
    position: absolute;
    left: 50%;
    top: 50%;
    animation: blob-rotate linear var(--blob-speed-rotate) infinite alternate;
  
    &:nth-child(2) {
      animation-duration: calc(2 * var(--blob-speed-rotate));
      animation-delay: calc(-1.5 * var(--blob-speed-rotate));
    }
  
    &:nth-child(3) {
      animation-direction: alternate-reverse;
      animation-duration: calc(0.8 * var(--blob-speed-rotate));
      animation-delay: calc(-1 * var(--blob-speed-rotate));
    }
  }
  
  @keyframes blob-rotate {
    0% {
      transform: translate3d(-50%, -50%, 0) rotateZ(-28deg);
      transform-origin: 50% 100%;
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotateZ(28deg);
      transform-origin: 50% 0%;
    }
  }
  
  .blob-move {
    animation: blob-move ease-in-out var(--blob-speed-move) infinite;
  
    .blobs > :nth-child(2) & {
      animation-delay: calc(-0.8 * var(--blob-speed-move));
    }
  
    .blobs > :nth-child(3) & {
      animation-delay: calc(-0.4 * var(--blob-speed-move));
    }
  }
  
  @keyframes blob-move {
    0%, 100% {
      transform: translateX(30%);
    }
    50% {
      transform: translateX(-30%);
    }
  }
  
  /* Supporting styles */
  
  *,
  :before,
  :after {
    box-sizing: border-box;
  }

  

.blob-container {
    position: relative;
    top: 50%;
}

#blob-2 {
    position: relative;
    top: 200px !important;
    z-index: -1;
}


#blob-3 {
    display: none;
}


#blob-4 {
    top: 400px;
}

#blob-5 {
    display: none;
}

#blob-6 {
   display: none;
}